<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    {{ if .Params.css }}
    <link rel="stylesheet" href="{{ .Params.css }}">
    {{ end }}
    <body data-theme = "{{ .Site.Params.defaultColor }}" class="notransition">
        {{- partial "scriptsBodyStart.html" . -}}
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
        {{- partial "scriptsBodyEnd.html" . -}}
        {{ if .Store.Get "hasMermaid" }}
        {{ if .Store.Get "hasMermaid" }}
        <script type="module">
            import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';

            const prefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
            const theme = prefersDark ? 'dark' : 'default';

            mermaid.initialize({
                startOnLoad: true,
                theme
            });
        </script>
        {{ end }}

        {{ end }}
    </body>
</html>
